{
    "all": true,
    "include": ["src/**/*.{t,j}s"],
    "exclude": [
        "src/**/node/**/*.{t,j}s"
    ],
    "reporter":[
         "text-summary",
         "html",
         "lcovonly"
    ],
    "report-dir": ".matman_output/coverage"
}
